<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="bootsrap.min.js"></script>
        <script src="jquery.min.js"></script>
        <script src="popper.min.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
